$color-primary:#f01414;
$color-header-bg:rgba(255, 255, 255, 0.7);
$color-cancel-fire:#1890ff;
$index-link-color:rgba(#000000, .65);
$index-link-color-hover:rgba(#fff, .65);
$admin-item-background-color:rgba(#fff, .6);
$card-shadow:0 1px 3px rgba(26, 26, 26, .1);
$card-shadow-raised:0 1px 4px rgba(26, 26, 26, .3);