.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}