.header-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: $header-bar-height;
  background: $color-header-bg;
  box-shadow: $card-shadow;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  z-index: 2;

  .fire {
    color: $color-primary;
  }

  .switch-link {
    position: absolute;
    right: 10px;
    font-size: 22px !important;
    border-color: rgba($color-primary, .7);
    color: $color-primary !important;
  }
}