:global(#root) {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  overflow: hidden;
}

:global {

  ::-webkit-scrollbar {
    background-color: #f0f0f0;
    border-radius: 4px;
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 4px;
    min-height: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color-primary, .8);
    min-height: 30px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

pre {
  margin: 10px 10px 10px 0;
  background: #eee;
  padding: 10px;

  code {
    padding: 0;
    margin: 0;
  }
}

code {
  background: #eee;
  padding: 2px 3px;
  margin: 0 3px;
}